
<header>
<link href="/static/css/login.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</header>
<div class="container" style="text-align: center">
      {% if messages %}
      {% for message in messages %}
        <h2 style = "color:blue">{{message}}</h2>
      {% endfor %}
      {% endif %}
        </div>
<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <h3> Sign in </h3>
    </div>

    <form method="Post">
      {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="Username" placeholder="Username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <input type="submit" class="fadeIn fourth">
    </form>
    <button onclick="location.href = '/';" class="cancelbtn" >Cancel</button>


    <div id="formFooter">
      <a class="underlineHover" href="reset_password">Forgot Password?</a>
    </div>

  </div>
</div>