
{% load static %}

<form method="POST">

{% csrf_token %}

  <div class="imgcontainer">
    <img src="https://discover.files.wordpress.com/2017/05/4344878104_e746795618_o.jpg?w=1818&h=825&crop=1" alt="Avatar" class="avatar">
  </div>
<link rel="stylesheet" href="{% static 'login.css'%}">
  <div class="container">
    <label for="Username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="Username" id="Username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
    {% if messages %}
    {% for message in messages %}
    <h2 style = "color:blue">{{message}}</h2>
    {% endfor %}
    {% endif %}
  <div class="container" style="background-color:#f1f1f1">
      <button onclick="location.href = '/';" class="cancelbtn" >Cancel</button>
    <span class="psw">Forgot your <a href="reset_password">password?</a></span>
  </div>

</form>