<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Properties</title>
    <style>
        th,td{
        padding:3px;
        }
        th{
        background-color:black;
        color:white;
        }
        table {
  counter-reset: rowNumber;
}
table tr::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    padding-right: 0.3em;
    text-align: right;
}
    </style>
</head>
<body>
        <center><div style="align-content: center">
          <h3>These are your properties currently for sale!!!</h3>
        </div>
        </center>
<table class="table" border="1">
                    <tr>
                        <th>Country</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>Price</th>
                        <th>Area</th>
                        <th>Garages</th>
                        <th>Baths</th>
                    </tr>
                    {% for property in properties %}
                        <tr>
                            <td>{{ property.Country }}</td>
                            <td>{{ property.City }}</td>
                            <td>{{ property.Address }}</td>
                            <td>{{ property.Price }}</td>
                            <td>{{ property.Area }}</td>
                            <td>{{ property.Garages }}</td>
                            <td>{{ property.Baths }}</td>
                        </tr>
                    {% endfor %}
                </table>
<div id="footer_content">
</div>
</body>
</html>